a.dropdown-item.js-button-figure(
	data-obj="Circle"
	data-prop="{'radius':40}")
	| Круг
a.dropdown-item.js-button-figure(
	data-obj="Ellipse"
	data-prop="{'rx':50,'ry':80}")
	| Елипс
a.dropdown-item.js-button-figure(
	data-obj="Rect"
	data-prop="{'width':50,'height':80}")
	| Прямоугольник
a.dropdown-item.js-button-figure(
	data-obj="Triangle"
	data-prop="{'width':50,'height':80}")
	| Треугольник
.dropdown-divider
a.dropdown-item(href="#" data-toggle="modal" data-target="#codeModal")
	| Вставить код